# OS or Editor files
._*
.DS_Store
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDE project files
.project

# Node js
node_modules
npm-debug.log

# Always-ignore extensions
*~
*.diff
*.err
*.log
*.orig
*.pyc
*.rej
*.sass-cache
*.sw?
*.vi

# editor files
*.sublime-workspace

# sass / compass cache
*.scssc
.sass-cache/