// ------------------------------
// base styles for all sections
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// Generic styles
// Margin between sections
// Project styles
// buttons styles
// Custom separator styles
// ------------------------------

// Generic styles
// ------------------------------
html, body {
  color: $code58-silver; 
}

@include headers {
	margin-bottom: 1em;
}

p {
	font-size: 1.125em;
}

textarea {
	height: 120px;
}

ul {
	list-style: none;
}

hr {
	border-color: #f5f7f8;
}

.rounded {
	@include rounded;
}

// Margin between sections
// ------------------------------
.margin-bottom-xlarge {
	margin-bottom: 150px;
}

.margin-bottom-large {
	margin-bottom: 75px;
}

.margin-botom-small{
	margin-bottom: 20px;
}

// Project styles
// ------------------------------
// ToDo MoeS: Try to re-write the scss .navigation
.border-generic {
	border: 2px solid $code58-blue;
}

.project-title {
	margin: 0 0 22px;
}

.navigation {
	display: inline;
	float: right;
	border: 2px solid $code58-blue;
	background: $code58-blue;
	border-radius: 5px;
	color: #fff;
	font-size: 1.25em;
	line-height: 0.7em;
	margin-bottom: 10px;
	margin-left: 5px;
	padding: 2px 8px;
}

.navigation:first-child {
	margin-right: 0;
}

.navigation:hover {
	color: #fff;
	//transion and more styles in here
}

a .icon-angle-right:before,
a .icon-angle-left:before {
	cursor: pointer;
}

// buttons styles
// ------------------------------
button, .button {
	box-shadow: none;
}

.button-large {
	width: 150px;
}

.button-medium {
	width: 110px;
}