// ------------------------------
// Footer
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// ------------------------------

.footer {

	.dark-row {
		background: $code58-dark-blue-night;
	  line-height: 65px;
		color: #95a5a6;
	}

	.light-row {
		 background: $code58-blue-night;
		 min-height: 170px;
		 padding-top: 30px;

		 p {
		 	line-height: 1.125;

		 	&.center {
				@media only screen and (min-width: 768px) {
		 			padding-left: 50px;
				}
		 	}
		}
	}

	.row .row.collapse {
		margin: 0 -0.9375em;
	}

	.footer-font-size,
	.footer-font-size a {
		font-size: 0.75em;
		color: #95A5A6;
	}


	// social
	// ------------------------------
	.social {
		a {
			color: $code58-silver;
			&:hover {
				color: white;
			}
		}
	}

	// newsletter
	// ------------------------------
	.subscribe a.button,
	.subscribe input {
		height: 40px;
	}

	.subscribe input {
		font-size: 0.875em
	}

	.subscribe a.button {
		@include rounded;
		border: none;
		margin-left: -15px;
		line-height: 3;
	}

	// contact 
	// ------------------------------
	.contact {
		p {
			font-size: 16px;
		}
	}

}
