// ------------------------------
// Footer style
// ------------------------------
.dark-row
{
	background: $footer-dark-color;
  	line-height: 65px;
	color:#95a5a6;
 }
 .light-row
{
	 background: $footer-light-color;
	 min-height: 170px;
	 padding-top: 30px;
}
 .light-row p
 {
 	line-height: 1.125;
 }
 @media only screen and (min-width: 768px) {
	 .light-row p.center
	 {
	 	padding-left: 50px;
	 }
}
.row .row.collapse
{
	margin: 0 -0.9375em;
}
.footer-font-size,
.footer-font-size a
{
	font-size: 0.75em;
	color: #95A5A6;
}
.subscribe a.button,
.subscribe input
{
	height: 40px;
}
.subscribe input
{
	font-size: 0.875em
}
.subscribe a.button
{
	@include rounded;
	border: none;
	margin-left: -15px;
	line-height: 3;
}