// ------------------------------
// orbit slider customiztion
// ------------------------------

// ------------------------------
// table of content
// ------------------------------
// container
// navigation buttons
// time indicator
// panels & caption
// hidden controls
// pagination bullets
// ------------------------------

// loading required modules
// ------------------------
@import "compass/css3";

.orbit-container {
	
	// container
	// ---------
	border: 2px solid $code58-blue;
	position: relative;

	// navigation buttons
	// ------------------
	.orbit-prev,
	.orbit-next {
		@include transition(0.3s opacity);
		@include opacity(0);
		@include border-radius(40px);
		background-color: rgba($code58-blue, 0.5);
		width: 60px;
	}

	.orbit-prev {
		left: 10px;
		span {
			left: 5px;
		}
	}

	.orbit-next {
		right: 10px;
		span {
			right: 5px;
		}
	}

	&:hover {
		.orbit-next,
		.orbit-prev { 
			@include opacity(1);
		}
	}

	// time indicator
	// --------------
	.orbit-timer {
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;
		width: 100%;

		.orbit-progress {
			background-color: rgba($code58-blue, 0.5);

		}
	}

	// panels & caption
	// ----------------
	.orbit-slides-container {

		.orbit-caption {
			position: absolute;
			top: 10px;
			right: 10px;
			width: 300px;
			bottom: auto;
			height: auto;
			color: white;
			background-color: rgba($code58-blue, 0.5);
			
			@include border-radius(5px);
		}

		.active .orbit-caption {
			
			@include opacity(1);
		}
	}

	// hidden controls
	// ---------------
	.orbit-slide-number {
		visibility: hidden;
	}
}

// pagination bullets
// ------------------
.orbit-bullets {
	top: -40px;
	display: inline-block;
	float: right;
	right: 20px;
	@include transition(0.3s opacity);
	@include opacity(0);

	li {
		background-color: transparent;
		border-color: $code58-blue;
		@include opacity(0.5);
		cursor: pointer;

		&.active {
			background-color: white;
			@include opacity(1);
		}

		&:hover {
			@include opacity(1);
		}
	}
}

// transition
.orbit-container:hover + .orbit-bullets,
.orbit-bullets:hover {
	@include opacity(1);
}