// ------------------------------
// Handy Sass Mixins
// ------------------------------
@mixin rounded($radius: 10px){border-radius: $radius;}
@mixin rounded-border($tl: 10px, $tr: 10px, $br:10px, $bl: 10px){border-radius: $tl $tr $br $bl;}

// ------------------------------
// Generic parameters
// ------------------------------
$border-color: #3498db;
$footer-dark-color: #2c3e50;
$footer-light-color: #34495e;
$tik-color: #1abc9c;
$cross-color: #e74c3c;

// ------------------------------
// Price table parameters
// ------------------------------
$price-table-student-light-color: #bdc3c7;
$price-table-student-dark-color: #a6aeb3;
$price-table-standard-light-color: #3498db;
$price-table-standard-dark-color: #2980b9;
$price-table-professional-light-color: #f1c40f;
$price-table-professional-dark-color: #e2b501;
$price-table-premium-light-color: #34495e;
$price-table-premium-dark-color: #2c3e50;

// ------------------------------
// Generic styles
// ------------------------------
html, body
{
  color: #bdc3c7; 
}
h1, h2, h3, h4, h5, h6 
{
	margin-bottom: 1em;
}
p{
	font-size: 1.125em;
}
textarea
{
	height: 120px;
}
.rounded
{
	@include rounded;
}

// ------------------------------
// Main menu
// ------------------------------
.main-menu
{
	border-top: 8px solid $border-color;
	a{
		padding: 60px 20px 40px;
		display: block;
		float: left;
	}

	a.active{
		background: $border-color;
		color: #fff;
	}
}

// ------------------------------
// Price table generic styles
// ------------------------------
.pricing-table {
	
	@include rounded;

	.price {
		font-size: 2.25em;
		min-height: 150px;
		
		span {
			font-size: 0.833em;
		}

		p {
			font-size: 0.5em;
		}
	}
	.title {
		@include rounded-border(10px, 10px, 0, 0);
	}

	.cta-button {
	@include rounded-border(0, 0, 10px, 10px);
	}

	button,.pricing-table .button {
	border: none;
	box-shadow: none;
	border-radius: 5px;
	width: 150px;
	font-size: 1.125em;
	}
}

.special-price{
	font-size: 3.75em;
}
.title > h3
{
	color:#FFF;
	margin:0;
}

// ------------------------------
// Price table - custom style for each one
// ------------------------------
.student.pricing-table{border-color: $price-table-student-light-color;}
.student.pricing-table .title,
.student .button{background-color: $price-table-student-light-color;}
.student.pricing-table .price{background-color: $price-table-student-dark-color;}
.standard.pricing-table{border-color: $price-table-standard-light-color;}
.standard.pricing-table .title,
.standard .button{background-color: $price-table-standard-light-color;}
.standard.pricing-table .price{background-color: $price-table-standard-dark-color;}
.professional.pricing-table{border-color: $price-table-professional-light-color;}
.professional.pricing-table .title,
.professional .button{background-color: $price-table-professional-light-color;}
.professional.pricing-table .price{background-color: $price-table-professional-dark-color;}
.premium.pricing-table{border-color: $price-table-premium-light-color;}
.premium.pricing-table .title,
.premium .button{background-color: $price-table-premium-light-color;}
.premium.pricing-table .price{background-color: $price-table-premium-dark-color;}

// ------------------------------
// Footer style
// ------------------------------
.dark-row
{
	background: $footer-dark-color;
  	line-height: 65px;
	color:#95a5a6;
 }
 .light-row
{
	 background: $footer-light-color;
	 min-height: 170px;
	 padding-top: 30px;
}
 .light-row p
 {
 	line-height: 1.125;
 }
 @media only screen and (min-width: 768px) {
	 .light-row p.center
	 {
	 	padding-left: 50px;
	 }
}
.row .row.collapse
{
	margin: 0 -0.9375em;
}
.footer-font-size,
.footer-font-size a
{
	font-size: 0.75em;
	color: #95A5A6;
}
.subscribe a.button,
.subscribe input
{
	height: 40px;
}
.subscribe input
{
	font-size: 0.875em
}
.subscribe a.button
{
	@include rounded;
	border: none;
	margin-left: -15px;
	line-height: 3;
}

// ------------------------------
// Margin between sections
// ------------------------------
.margin-bottom-xlarge {margin-bottom: 150px;}
.margin-bottom-large {margin-bottom: 75px;}
.margin-botom-small{margin-bottom: 20px;}

// ------------------------------
// Project styles
// ------------------------------
.border-generic
{
	border: 2px solid $border-color;
}
.project-title
{
	margin: 0 0 22px;
}

// ------------------------------
// buttons styles
// ------------------------------
button, .button
{
	box-shadow: none;
}
.button-large
{
	width: 150px;
}
.button-medium
{
	width: 110px;
}

// ------------------------------
// Custom separator styles
// ------------------------------
.services-separator
{
	margin-top: 13px;
	margin-bottom: 14px;
}
.project-separator
{
	margin-top: 18px;
	margin-bottom: 14px;
}
.pricing-table-separator
{
	margin-top: 19px;
	margin-bottom: 17px;
}
.call-to-action-separator
{
	margin-top: 20px;
	margin-bottom: 14px;
}