html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #bdc3c7; }

h2 {
  font-size: 36px; }

p {
  font-size: 32px; }

.smalltext {
  font-size: 20px; }

.largtext, .pricing-table .largtext {
  font-size: 28px; }

.bg-primary {
  background-color: #3498db; }

.border-color-primary {
  border-color: #3498db; }

.color-primary {
  color: #3498db; }

.bg-dark-primary {
  background-color: #2c3e50; }

.bg-light-primary {
  background-color: #34495e; }

.border-generic {
  border: 2px solid #3498db; }

.pricing-table .price {
  line-height: 150px; }

.pricing-table {
  border-radius: 10px; }

.pricing-table .title {
  border-radius: 10px 10px 0 0; }

.pricing-table .cta-button {
  border-radius: 0 0 10px 10px; }

.pricing-table .cta-button {
  background-color: #fff; }

.pricing-table .title,
.pricing-table .price {
  color: #fff; }

button, .button {
  border: none;
  box-shadow: none;
  border-radius: 5px; }

.student.pricing-table {
  border-color: #bdc3c7; }

.student.pricing-table .title,
.student .button {
  background-color: #bdc3c7; }

.student.pricing-table .price {
  background-color: #a6aeb3; }

.standard.pricing-table {
  border-color: #3498db; }

.standard.pricing-table .title,
.standard .button {
  background-color: #3498db; }

.standard.pricing-table .price {
  background-color: #2980b9; }

.professional.pricing-table {
  border-color: #f1c40f; }

.professional.pricing-table .title,
.professional .button {
  background-color: #f1c40f; }

.professional.pricing-table .price {
  background-color: #e2b501; }

.premium.pricing-table {
  border-color: #34495e; }

.premium.pricing-table .title,
.premium .button {
  background-color: #34495e; }

.premium.pricing-table .price {
  background-color: #2c3e50; }

.dark-row {
  background: #2c3e50;
  line-height: 65px;
  color: #95a5a6; }

.dark-row a {
  color: #95a5a6; }

.light-row {
  background: #34495e;
  min-height: 170px; }

.margin-bottom-medium {
  margin-bottom: 40px; }

.margin-bottom-big {
  margin-bottom: 90px; }

.margin-bottom-large {
  margin-bottom: 75px; }

.margin-botom-small {
  margin-bottom: 25px; }